<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" th:href="@{/rh/informacion}">PLAY CODE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/rh/informacion}">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Perfil Usuario
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{'/perfil/' + ${session.usuariosession.id}}">Cambiar Nombre, etc.</a>
                        <a class="dropdown-item" th:href="@{'/perfil1/' + ${session.usuariosession.id}}">Cambiar contraseña</a>
                    </div>
                </li>
                <li class="nav-item" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                    <a class="nav-link active" th:href="@{/lista}">Lista de Usuarios</a>
                </li>
            </ul>

        </div>
    </div>
    <div>
        <ul class="navbar-nav">
            <li  class="nav-link active" th:if="${session.usuariosession}">
                <span><strong>Bienvenido:</strong> </span>
                <span th:text="${session.usuariosession.nombre + ' ' + session.usuariosession.apellido}" style="margin-right: 1cm;"></span>
            </li>
            <li class="nav-item nav-item-cerrar-sesion">
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-outline-success" style="margin-right: 1cm;">Cerrar Sesión</button>
                </form>
            </li>
        </ul>
    </div>
</nav>